extends header

block content
    section(id='sidebar', class='flex column bck b_white', style="width: 40%;")
    section(id='container', class='f12 column scroll padding_big') 
        div(class='flex f1 y_center x_center')
            h2 Welcome to postit!