if env == "prod" 

    script(src='/javascripts/vendors/jquery.js')
    script(src='/javascripts/vendors/underscore.js')
    script(src='/javascripts/vendors/backbone.js')
    script(src='/javascripts/vendors/backbone.marionette.js')
    script(src='/javascripts/vendors/socket.io.js')
    script(src='/javascripts/vendors/jquery.timeago.js')
    script(src='/javascripts/vendors/q.js')

    script(src='/javascripts/init.js')
    
    script(src='/javascripts/app/client/models/article.js')

    script(src='/javascripts/app/client/collections/articles.js')

    script(src='/javascripts/app/client/routers/router.js')

    script(src='/javascripts/app/client/views/article.js')
    script(src='/javascripts/app/client/views/articles.js')
    script(src='/javascripts/app/client/views/sidebar.js')
    
    script(src='/javascripts/app/client/client.js')



    script(type="text/javascript", src='/javascripts/vendors/gallery/jquery.tmpl.min.js')
    script(type="text/javascript", src='/javascripts/vendors/gallery/jquery.easing.1.3.js')
    script(type="text/javascript", src='/javascripts/vendors/gallery/jquery.elastislide.js')
    script(type="text/javascript", src='/javascripts/vendors/gallery/gallery.js')
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37067122-1']);
        _gaq.push(['_setDomainName', 'maniadeartesanato.com.br']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();