extends header

block content
    header(class='row bck b_turquoise text color c_white b_shadow_small')
        section.site_width.text.color.c_white
            nav
                div.col6
                    strong #{config.blogName} 
                    span.desktop |
                    span.desktop  #{config.blogDescription}
                if user
                    div.col6.text.right
                        span.padding_right_medium #{user.fullName}
                        img(src= user.image, class='b_shadow_small top')
                else
                    div.col6.text.right
                        a(href='/auth/twitter', class='text color c_blue_light bold') Sign in with Twitter
    section(id='container', class='row site_width padding_top_big') 
        div(id='logo', class='logo-front') 

            div(style="padding-left:300px;padding-top:10px;text-align: center;")
                i(style="font-size:48px;color:green;font-weight: bold;font-family: Monotype cursiva;") Mania de Artesanato
                div(style="margin-top: 10px;color : black;font-weight: bold;font-size: 15px;") "...E o enchi com o meu Espírito. Eu lhe dei inteligência, competência e a habilidade <br/>para fazer todo tipo de trabalho artístico; para fazer desenhos e trabalhar em ouro, <br/>prata e bronze; lapidar e montar pedras preciosas; para entalhar madeira;<br/>e para fazer todo tipo de artesanato."   (Êx. 31: 3 - 5)

        hr(style="width: 91%;height: 3px;background-color: #B22222;margin-left: 10px;margin-top: 0px;")
        section(id='articles', class='col8 padding_small')
        section(id='sidebar', class='col4 padding_small',style="width: 23%;")
