extends header

block content
    header(class='row bck b_turquoise text color c_white b_shadow_small')
        section.site_width.text.color.c_white
            nav
                div.col6
                    strong #{config.blogName} 
                    span.desktop |
                    span.desktop  #{config.blogDescription}
                if user
                    div.col6.text.right
                        span.padding_right_medium #{user.fullName}
                        img(src= user.image, class='b_shadow_small top')
                else
                    div.col6.text.right
                        a(href='/auth/twitter', class='text color c_blue_light bold') Sign in with Twitter
    section(id='container', class='row site_width padding_top_big') 
        div(id='logo', class='logo-front') 
            b(style="padding-left:100px;") 
                i Deus é Fiel!
            div(style="padding-left:300px;padding-top:10px;")
                b
                    i(style="font-size:48px;color:green") Mania de Artesanato
                div "...E o enchi com o meu Espírito. Eu lhe dei inteligência, competência e a habilidade para fazer todo tipo de trabalho artístico; para fazer desenhos e trabalhar em ouro, prata e bronze;lapidar e montar pedras preciosas; para entalhar madeira;e para fazer todo tipo de artesanato." Êx. 31: 3 - 5

        hr(style="width:90%")
        section(id='articles', class='col8 padding_small')
        section(id='sidebar', class='col4 padding_small')